body {
    background-image: url(background.jpg);
    background-size: cover;
}
.container { 
             width: 1000px;
             margin: auto;
             padding: 100px;
             background: rgba(20, 20, 20, 0.5);
             border-radius: 15px;
             margin-top: 20px;
             padding-bottom: 150px;

           }
.logo      {
             display: block;
             margin: auto;
             width: 25%;
           } 
.logotext  {
            font-size: 35px;
            text-align: center;
            display: block;
            color: rgb(8, 220, 4);
            font-family: Arial, Helvetica, sans-serif;
            }
.button {
    display: inline-block;
   
         }
nav { 
    background-color: rgb(8, 220, 4);
    padding: 10px;
    text-align: center;
    }         

.monopattino {
    font-size: 30px;
    color: white;
    
             }
.text {
    color: white;
    font-size: 20px;
    font-family: serif;
}
.rettangolo1 {
    width: 400px;
    height: 20px;
    background-color: rgba(245,181,82,255); 
    border-radius: 5px;
            }   
.rettangolo2 {
    width: 550px;
    height: 20px;
    background-color: rgb(30,195,30); 
    border-radius: 5px;
            }
.rettangolo3 {
    width: 200px;
    height: 20px;
    background-color: rgb(190,65,65); 
    border-radius: 5px;
            }
